<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../input.css">
</head>

<body class="bg-slate-100">
    <section class=" flex relative ">
        <div class="flex flex-row mt-32 container mx-auto space-y-1 capitalize font-mont ">
            <div>
            <p class="text-lg font-semibold text-blue-800">Feature</p>
            <h1 class="text-4xl font-semibold">Web development</h1>
            <p class="w-1/4 text-sm text-gray-500">we know the knowledge of power and experience lead to result.Aim to
                create the simple and impressive
                website.</p>
            <div class="space-y-4 pt-6">
                <div>
                    <div class="flex text-xl font-bold items-center space-x-3 space-y-2">
                        <img src="../component/template/fea-design.png" class="w-6">
                        <h1>Ui / UX Design</h1>
                    </div>
                    <p class="w-1/4 text-sm text-gray-500">We know to create the design simple and impressive.</p>
                </div>
                <div>
                    <div class="flex text-xl font-bold items-center space-x-3 space-y-2">
                        <img src="../component/template/fea-react'.png" class="w-6">
                        <h1>React & Tailwind</h1>
                    </div>
                    <p class="w-1/4 text-sm text-gray-500">We know to create the powerfull and lightweight website.</p>
                </div>
            </div>
        </div>
            <div class="grid grid-cols-2 gap-3 z-10">
                <div class="shadow-2xl flex-col text-center bg-white items-center space-y-1 p-6 flex justify-center rounded-xl w-48"> <h1 class="font-bold text-xl text-gray-900">Idea</h1><p class=" text-sm text-gray-500">creating the best, simple website</p></div>
                <div class="shadow-2xl flex-col text-center bg-emerald-500 items-center space-y-1 p-6 flex justify-center rounded-xl w-48"> <h1 class="font-bold text-xl text-white">Research</h1><p class=" text-sm text-white">creating the best, simple website</p></div>
                <div class="shadow-2xl flex-col text-center bg-teal-600 items-center space-y-1 p-6 flex justify-center rounded-xl w-48"> <h1 class="font-bold text-xl text-white">simplicity</h1><p class=" text-sm text-white">creating the best, simple website</p></div>
                <div class="shadow-2xl flex-col text-center bg-white items-center space-y-1 p-6 flex justify-center rounded-xl w-48"> <h1 class="font-bold text-xl text-gray-900">Rise</h1><p class=" text-sm text-gray-500">creating the best, simple website</p></div>
            </div>
        </div>
        
        <div class="absolute w-[83vh] h-[80vh] right-0 bg-gray-200 rounded-bl-full"></div>
    </section>
</body>

</html>